.summary {
    color: #e6e6e6;
    border-left: 5px solid darkseagreen;
    font-size:16px;
}


h3 {color: darkseagreen; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #161616;
    color: #161616;
}

.nav > li.active > a {
    background-color: #161616
}

.nav > li > a:hover {
    background-color: #9f0000;
    text-decoration: underline;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #161616;
    color: darkseagreen;
    text-decoration: underline;
}

.nav li.thirdlevel > a {
    background-color: #161616 !important;
    color: #9f0000;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #161616;
    border-color: #404040;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #e6e6e6;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: darkseagreen;
}

a.navbar-brand:hover {
  color: darkseagreen;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: darkseagreen;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #9f000000;
    color: #e6e6e6;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #161616 !important;
}

.navbar-right .dropdown-menu {
    right: 1;
    left: auto;
    background-color: #161616;
}

.btn-primary {
    color: #e6e6e6;
    background-color: #9f0000;
    border-color: #9f0000;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #e6e6e6;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #161616;
    color: darkseagreen;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #248ec2;
    border-color: #9f0000;
}

.printTitle {
    color: #9f0000 !important;
}

body.print h1 {color: #75b6e7 !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #9f0000;
}

div.sidebarTitle {
    color: #9f0000;
}

li.sidebarTitle {
    font-weight:normal;
    font-size:130%;
    color: #e6e6e6;
    margin-bottom:14px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #9f0000;
}

.navbar-inverse .navbar-toggle {
    border-color: #9f0000;
}

body {
    font-family: 'Times New Roman';
    font-size: 14px;
    line-height: 1.42857143;
    color: #e6e6e6;
    background-color: #161616;
}

.dropdown-menu>li>a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
    color: #e6e6e6;
    white-space: nowrap;
    
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    background-color: #9f000000;
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: auto;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}
